<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>quqiang @ geek-zoo team</string>
	<key>CFBundleDisplayName</key>
	<string>curt.cc</string>
	<key>CFBundleIdentifier</key>
	<string>curt.cc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>go.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>curt_cc</string>
				<key>Identifier</key>
				<string>curt.cc</string>
				<key>Image</key>
				<string>geek-1.png</string>
				<key>Label</key>
				<string>curt.cc</string>
				<key>Palette Label</key>
				<string></string>
				<key>Tool Tip</key>
				<string>Shortens the URL with curt.cc</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>this extension can help u get the shorten urls with curt.cc api. (使用curt.cc进行短网址生成)</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://curt.cc</string>
</dict>
</plist>
